In [1]:
import pandas as pd
from tqdm import tqdm

tqdm.pandas()

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [2]:
df_invest = pd.read_excel('../data/raw/Data Scientist-Analyst position - Requirement.xlsx', sheet_name='Đầu tư', index_col='No')
df_invest.head(5)

,Tháng,Năm,Khách hàng C2,Khách Hàng C1,Tỉnh,Tên hoạt động,Số lượng,Nhóm Sản phẩm,Sản Phẩm,Cây Trồng,SL Nông Dân,Đầu tư,Triển khai
No,,,,,,,,,,,,,
1,Nov,2018,STG-042,STG001,Sóc Trăng,Demo,2.0,Fungicide,FY,Lúa,10,3184420.0,SE
2,Nov,2018,STG-065,STG001,Sóc Trăng,Demo,2.0,Fungicide,FY,Lúa,10,3184420.0,SE
3,Nov,2018,STG-052,STG001,Sóc Trăng,Demo,2.0,Fungicide,FY,Lúa,10,3184420.0,SE
4,Nov,2018,STG-112,STG001,Sóc Trăng,Demo,2.0,Fungicide,FY,Lúa,10,3184420.0,SE
5,Nov,2018,STG-080,STG001,Sóc Trăng,Demo,2.0,Fungicide,FY,Lúa,10,3184420.0,SE

In [3]:
df_revenue = pd.read_excel('../data/raw/Data Scientist-Analyst position - Requirement.xlsx', sheet_name='Doanh thu', index_col='No')
df_revenue.head(5)

,Năm,Tháng,Khách Hàng C2,Khách hàng C1,Tỉnh,Sản phẩm,Số lượng,Doanh thu,Nhóm sản phẩm
No,,,,,,,,,
1,2019,Feb,LAN-001,LAN032,Long An,LS,3.0,1.966820e+07,Fungicide
2,2019,Feb,LAN-001,LAN032,Long An,JO,1.0,3.318983e+06,Fungicide
3,2019,Feb,LAN-007,LAN032,Long An,MTL,20.0,1.646421e+08,Fungicide
4,2019,Feb,LAN-007,LAN032,Long An,JO,1.0,3.318983e+06,Fungicide
5,2019,Feb,LAN-007,LAN032,Long An,GO,1.0,1.642946e+06,Insecticide

In [4]:
def format_province(province):
    
    provinces = {'Đắk Lắk': ['Daklak'], 
                 'Khánh Hoà': ['Khánh Hòa'], 
                 'Thừa Thiên - Huế': ['TT Huế', 'Thừa Thiên Huế'], 
                 'Bà Rịa - Vũng Tàu': ['BRVT', 'BR-VT'], 
                 'Hồ Chí Minh': ['Tp Hồ Chí Minh']}
    
    for true_p, false_p in provinces.items():
        if province in false_p:
            province = true_p
    
    province = province.strip()

    words = province.split()

    titled_words = [word[0].upper() + word[1:].lower() for word in words]
    
    return ' '.join(titled_words)

In [5]:
df_invest['Tỉnh'] = df_invest['Tỉnh'].progress_apply(format_province)
df_revenue['Tỉnh'] = df_revenue['Tỉnh'].progress_apply(format_province)

100%|██████████| 923/923 [00:00<00:00, 196504.88it/s]
100%|██████████| 5184/5184 [00:00<00:00, 305160.16it/s]

In [8]:
df_invest.to_csv('../data/clean/invest_cleaned.csv', index='No', encoding='utf-8-sig')
df_revenue.to_csv('../data/clean/revenue_cleaned.csv', index='No', encoding='utf-8-sig')